In [18]:
import numpy as np
import pandas as pd

In [19]:
df = pd.read_csv("international-airline-passengers.csv",engine="python",skipfooter=3)

In [20]:
df.columns

Index(['Month', 'International airline passengers: monthly totals in thousands. Jan 49 ? Dec 60'], dtype='object')

In [21]:
# renaming columns
df.columns = ['month','passengers']

In [22]:
df.columns

Index(['month', 'passengers'], dtype='object')

In [23]:
df['ones'] = 1 
#adding 1 on one colums and rows has 1 
# can be add as apply too

In [24]:
df.head()

     month  passengers  ones
0  1949-01         112     1
1  1949-02         118     1
2  1949-03         132     1
3  1949-04         129     1
4  1949-05         121     1

In [25]:
# appliying apply function to airline
from datetime import datetime

In [26]:
datetime.strptime('1949-05','%Y-%m')

datetime.datetime(1949, 5, 1, 0, 0)

In [28]:
# put this 
df['dt'] = df.apply(lambda row :datetime.strptime(row['month'],'%Y-%m'),axis=1)

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 4 columns):
month         144 non-null object
passengers    144 non-null int64
ones          144 non-null int64
dt            144 non-null datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 4.6+ KB

In [31]:
df.head()

     month  passengers  ones         dt
0  1949-01         112     1 1949-01-01
1  1949-02         118     1 1949-02-01
2  1949-03         132     1 1949-03-01
3  1949-04         129     1 1949-04-01
4  1949-05         121     1 1949-05-01