### Load data using pandas
### DataFrames

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [6]:
X = pd.read_csv('data_2d.csv',header=None)

In [7]:
type(X)

pandas.core.frame.DataFrame

In [8]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
0    100 non-null float64
1    100 non-null float64
2    100 non-null float64
dtypes: float64(3)
memory usage: 2.4 KB

In [9]:
 X.head()

           0          1           2
0  17.930201  94.520592  320.259530
1  97.144697  69.593282  404.634472
2  81.775901   5.737648  181.485108
3  55.854342  70.325902  321.773638
4  49.366550  75.114040  322.465486

In [10]:
X.head(20)

            0          1           2
0   17.930201  94.520592  320.259530
1   97.144697  69.593282  404.634472
2   81.775901   5.737648  181.485108
3   55.854342  70.325902  321.773638
4   49.366550  75.114040  322.465486
5    3.192702  29.256299   94.618811
6   49.200784  86.144439  356.348093
7   21.882804  46.841505  181.653769
8   79.509863  87.397356  423.557743
9   88.153887  65.205642  369.229245
10  60.743854  99.957634  427.605804
11  67.415582  50.368310  292.471822
12  48.318116  99.128953  395.529811
13  28.829972  87.184949  319.031348
14  43.853743  64.473639  287.428144
15  25.313694  83.545294  292.768909
16  10.807727  45.695569  159.663308
17  98.365746  82.697394  438.798964
18  29.146910  66.365107  250.986309
19  65.100302  33.353883  231.711508

In [11]:
X.head(1)

           0          1          2
0  17.930201  94.520592  320.25953